<%- include ('../partials/header') %>
<div class="row">
	<div class="col-md-9 mx-auto">
		<table class="table table-secondary table-striped">
			<caption style="caption-side: top;">
				<h1>Current Holds</h1>
			</caption>
			<thead>
				<tr>
					<th scope="col">ISBN</th>
					<th scope="col">Title</th>
					<th scope="col">Date Reserved</th>
					<th scope="col">Remove Hold</th>
				</tr>
			</thead>
			<tbody>
				<% holds.forEach(function(hold){ %>
					<tr>
						<td scope="row"><%= hold.isbn %></td>
						<td><%= hold.title %></td>
						<td><%= hold.return_date %></td>
						<td>
                            <button class="btn btn-warning" onclick="deleteBookHold('<%= hold.isbn %>', '<%= hold.copy_number %>')">Remove Hold</button>
						</td>
					</tr>
				<% }); %>
			</tbody>
		</table>

	</div>
</div>
<%- include ('../partials/footer') %>