<%- include ('../partials/header') %>
<div class="col-sm-6 text-center mx-auto">
    <form id="update-book" action="/books/<%=book.isbn%>?_method=PUT" method="post">
        <legend>Edit Book Details for <%=book.title%></legend>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="isbn">ISBN-10</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="isbn" id="isbn" value="<%=book.isbn%>" readonly required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="title">Title Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="title" value="<%=book.title%>" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="desc">Description</label>
            <div class="col-sm-10">
                <textarea class="form-control" class="form-control" name="desc"  required><%=book.description%></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="pages">Pages</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" name="pages" value="<%=book.pages%>" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="img_file_url">Image URL</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="img_file_url" value="<%=book.img_file_url%>" required>
            </div>
        </div>
        <button>Update</button>
    </form>
</div>
<%- include ('../partials/footer') %>