<%- include ('../partials/header') %>

<div class="container">
<div class="row">
<div class="col-sm-12">
<form id="add-Book" action="/books" method="post">
    <fieldset>
        <legend>Add Book Details</legend>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="isbn">ISBN-10</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" name="isbn" id="isbn" required>
                <div id="isbnError" class="icon" hidden="false"></div>
                <div id="isbnCheck" class="icon" hidden="true"></div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="title">Title Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="title" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="desc">Description</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="desc" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="pages">Pages</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" name="pages" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="img_file_url">Image URL</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="img_file_url" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="copies">Copies</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" name="copies" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="author">Authors</label>
            <div class="col-sm-10">
                <select name="author" class="mySelections form-control" required>
                    <!-- <option value="">Pick a Author</option> -->
                    <% Authors.forEach(function(author){ %>
                        <option value="<%=author.publisher_id%>"><%=author.author_name%></option>
                    <% }); %>
                    <!-- <option value="">Add New Author</option> -->
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="publisher">Publisher</label>
            <div class="col-sm-10">
                <select name="publisher" class="mySelections form-control" required>
                    <!-- <option value="">Pick a Publisher</option> -->
                    <% Publishers.forEach(function(publisher){ %>
                        <option value="<%=publisher.publisher_id%>"><%=publisher.publisher_name%></option>
                    <% }); %>
                    <!-- <option value="">Add New Publisher</option> -->
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="genre">Genres</label> 
            <div class="col-sm-10">
                <select name="genre" class="mySelections form-control" required>
                    <!-- <option value="">Pick a Genre</option> -->
                    <% Genres.forEach(function(genre){ %>
                        <option value="<%=genre.genre_id%>"><%=genre.genre_name%></option>
                    <% }); %>
                    <!-- <option value="">Add New Genre</option> -->
                </select>
            </div>
        </div>
    </fieldset>
    <fieldset id="newAuthor" hidden="true">
        <div class="form-group row">
            <legend>Add New Author</legend>
            <label class="col-sm-2 col-form-label" for="author_fname">First Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="author_fname">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="author_lname">Last Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="author_lname">
            </div>
        </div>
    </fieldset>
    <fieldset id="newPublisher" hidden="true">
        <div class="form-group row">
            <legend>Add New Publisher</legend>
            <label class="col-sm-2 col-form-label" for="publisher_name">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="publisher_name">
            </div>
        </div> 
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="city_name">City</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="city_name">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="city_state">State</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="city_state"> 
            </div>
        </div>
    </fieldset>
    <fieldset id="newGenre" hidden="true">
        <div class="form-group row">
            <legend>Add New Genre</legend>
            <label class="col-sm-2 col-form-label" for="genre_name">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="genre_name">
        </div>
    </fieldset>
    <input type="submit" value="Submit">
</form>
</div>
</div>
</div>
<%- include ('../partials/footer') %>