<%- include ('../partials/header') %>
<!-- <div class="row" style="max-height: 52em; overflow-y: scroll;">
    <div class="col-sm-12 text-center mx-auto">
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <div class="thumbnail">
                        <img class="img-responsive" src="<%=book.img_file_url%>">
                    </div>
                </div>
                <div class="col-md-3">
                    <div lass="card-body">
                        <div class="card-header"><%=book.title%></div>
                        <div class="list-group">
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between">
                                    <div>Pages:</div> 
                                    <div><%=book.pages%></div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between">
                                    <div>Author:</div> 
                                    <div><%=book.Author_Name%></div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between">
                                    <div>Publisher Name:</div>
                                    <div><%=book.publisher_name%></div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between">
                                    <div>Genre:</div>
                                    <div><%=book.genre_name%></div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between">
                                    <div>Copies Available:</div> 
                                    <div><%=book.Copies_Available%></div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between">
                                    <div>Description:</div>
                                    <div class="text-right"><%=book.description%></div>
                                </div>
                            </li>
                        </div>
                    </div>
                </div>
                <% if(currentUser){ %>
                    <div class="col-md-3">
                        <div class="card-footer">
                            <div class="card-header">Actions</div>
                            <div class="list-group">
                               <li class="list-group-item">
                                    <button class="btn btn-warning" onclick="checkOutBook('<%=book.isbn%>')">Checkout</button>
                                </li>
                                <% if(admin_user){ %>
                                <li class="list-group-item">
                                    <button class="btn btn-warning" onclick="location.href='/books/<%=book.isbn%>/edit'">Update</button>
                                </li>
                                <li class="list-group-item">
                                    <button class="btn btn-danger" onclick="deleteFromDB('<%=book.isbn%>')">Delete</button>
                                </li>
                                <% } %>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div> -->

<div class="row d-flex justify-content-around" style="max-height: 52em; overflow-y: scroll;"> 
    <div class="col-md-3">
        <div class="card">
            <img class="img-responsive" src="<%=book.img_file_url%>">
        </div>
    </div>
    <div class="col-md-3">
        <div class="card border-info">
            <div class="card-header"><%=book.title%></div>
            <div class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="d-flex justify-content-between">
                        <div>Pages:</div> 
                        <div><%=book.pages%></div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="d-flex justify-content-between">
                        <div>Author:</div> 
                        <div><%=book.Author_Name%></div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="d-flex justify-content-between">
                        <div>Publisher Name:</div>
                        <div><%=book.publisher_name%></div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="d-flex justify-content-between">
                        <div>Genre:</div>
                        <div><%=book.genre_name%></div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="d-flex justify-content-between">
                        <div>Copies Available:</div> 
                        <div><%=book.Copies_Available%></div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="d-flex justify-content-between">
                        <div>Description:</div>
                        <div class="text-truncate"><%=book.description%></div>
                    </div>
                </li>
            </div>
        </div>
    </div>
    <% if(currentUser){ %>
        <div class="col-md-3">
            <div class="card bg-success">
                <div class="card-header">Actions</div>
                <div class="list-group">
                    <% if(book.Copies_Available === 0){ %>
                        <li class="list-group-item">
                            <button class="btn btn-warning" onclick="reserveBook('<%=book.isbn%>')">Notify when available</button>
                        </li>
                    <% }else{ %>
                        <li class="list-group-item">
                            <button class="btn btn-warning" onclick="checkOutBook('<%=book.isbn%>')">Checkout</button>
                        </li>
                    <% } %>
                    <% if(admin_user){ %>
                        <li class="list-group-item">
                            <button class="btn btn-warning" onclick="location.href='/book/<%=book.isbn%>/edit'">Update</button>
                        </li>
                        <li class="list-group-item">
                            <button class="btn btn-danger" onclick="deleteFromDB('<%=book.isbn%>')">Delete</button>
                        </li>
                    <% } %>
                </div>
            </div>
        </div>
    <% } %>
</div>
<%- include ('../partials/footer') %>