<!DOCTYPE html>
<html>
<head>
    <title>Database Website</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/sidebar.css">
    <% if(typeof scripts !== 'undefined') scripts.forEach(function(script) { %>
      <script src="<%=script%>"></script>
    <% }); %>
    <% if(typeof stylesheets !== 'undefined') stylesheets.forEach(function(stylesheet){ %>
      <link rel="stylesheet" type="text/css" href="<%=stylesheet%>">
    <% }); %> 
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" style="color: black">Home</a>
            </div> <!-- /navbar-header -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                   <li><a href="/books" style="color: black">View Books<span class="sr-only">(current)</span></a></li>
                    <% if(currentUser){ %>
                        <% if(admin_user){ %>
                          <li><a href="/books/new" style="color: black">Add Books</a></li>
                        <% } %>
                    <% } %>
                    <% if(error && error.length > 0){ %>
                        <li id="alert-danger"><span class="alert alert-danger" role="alert" style="display: inline-block;position: relative;z-index: 1;padding: 1em;margin: 0em;"><%=error%></span></li>
                        <script>
                            setTimeout(function(){
                                $("#alert-danger").fadeOut('slow');
                            }, 4000);
                        </script>
                    <% } %>
                    <% if(success && success.length > 0){ %>
                        <li id="alert-success"><span class="alert alert-success" role="alert" style="display: inline-block;position: relative;z-index: 1;padding: 1em;margin: 0em;"><%=success%></span></li>
                        <script>
                            setTimeout(function(){
                                $("#alert-success").fadeOut('slow');
                            }, 4000);
                        </script>
                    <% } %>
                        <li id="alert-danger"><span class="alert alert-danger" role="alert" style="display: inline-block;position: relative;z-index: 1;padding: 1em;margin: 0em; display: none;"></span></li>
                        <li id="alert-success"><span class="alert alert-success" role="alert" style="display: inline-block;position: relative;z-index: 1;padding: 1em;margin: 0em; display: none;"></span></li>
                </ul>       
                <ul class="nav navbar-nav navbar-right">
                    <% if(!currentUser){ %>
                        <li><a href="/login" style="color: black">Login</a></li>
                    <% } else { %>
                        <li><a disabled style="color: black">Signed In As <%= currentUser %></a></li>
                        <li><a href="/logout" style="color: black">Logout</a></li>
                    <% } %>
                  </ul>
            </div> <!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">