<!DOCTYPE html>
<html>
<head>
    <title>Database Website</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/0f00646d7d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/sidebar.css">
    <% if(typeof scripts !== 'undefined') scripts.forEach(function(script) { %>
      <script src="<%=script%>"></script>
    <% }); %>
    <% if(typeof stylesheets !== 'undefined') stylesheets.forEach(function(stylesheet){ %>
      <link rel="stylesheet" type="text/css" href="<%=stylesheet%>">
    <% }); %> 
</head>
<body style="overflow-x: hidden; overflow-y: hidden;">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Put space between ul's -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/book" style="color: black">View Books</a>
                    </li>
                    <% if(error && error.length > 0){ %>
                        <li class="nav-item" id="alert-danger">
                            <span class="alert alert-danger badge badge-secondary" role="alert" style="margin: 0em;"><%=error%></span>
                        </li>
                        <script>
                            setTimeout(function(){
                                $("#alert-danger").fadeOut('slow');
                            }, 4000);
                        </script>
                    <% } %>
                    <% if(success && success.length > 0){ %>
                        <li class="nav-item" id="alert-success">
                            <span class="alert alert-success badge badge-secondary" role="alert" style="margin: 0em;"><%=success%></span>
                        </li>
                        <script>
                            setTimeout(function(){
                                $("#alert-success").fadeOut('slow');
                            }, 4000);
                        </script>
                    <% } %>
                </ul>       
                <ul class="nav navbar-nav">
                    <% if(!currentUser){ %>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                    <% } else { %>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-fw fa-user-circle"></i> 
                                <%= currentUser %></a>
                            </a>
                            <div class="dropdown-menu">
                                <h1 class="dropdown-header">Profile</h1>
                                <a class="dropdown-item" href="/profile/holds">
                                    <i class="fa fa-fw fa-hold"></i>
                                    View Holds
                                </a>
                                <a class="dropdown-item" href="/profile/reservations">View Reservations</a>
                                <a class="dropdown-item" href="/profile">
                                    <i class="fa fa-fw fa-cog"></i>
                                    Profile Settings
                                </a>
                                <div class="dropdown-divider"></div>
                                <% if(admin_user){ %>
                                    <h1 class="dropdown-header">Admin</h1>
                                    <a class="dropdown-item" href="/book/new">
                                        <i class="fa fa-fw fa-plus"></i>
                                        Add Books
                                    </a>
                                    <a class="dropdown-item" href="/admin">View Admin Page</a>
                                    <a class="dropdown-item" href="/admin">View Patron Holds</a>
                                    <a class="dropdown-item" href="/admin">View Past Due</a>
                                <% } %>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout">
                                    <i class="fa fa-fw fa-sign-out-alt"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    <% } %>
                </ul>
            </div> <!-- /.navbar-collapse -->
        </div>
    </nav>
    <div class="container-fluid">